!!! 5
html
  head
    title Jalopy
    link(rel='stylesheet', href=base + '/style/style.css')
    link(rel='stylesheet', href='http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css')
  body
    #container-fluid!= body