h1 Repositories (#{repo})...
pre #{out}
//
  ul
    li AppArch/Core
    li AppArch/Management
    li AppArch/AuditViewer
    li Panther/Panther
    li Illuminate/Insight
    li Illuminate/Nigiri
    li Illuminate/Illuminate